.auth-wrapper {
    display: flex;
    flex-basis: 100%;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background: url('choix.png');
    background-size: cover;
    align-items: center;
    justify-content: center ;
    overflow: hidden; 
  }

  .auth-inner {
    width: 100%;
    position: relative;
    max-width: 400px;
    
  }
  .logo-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px; 
    
  }
  img{
    width: 100px;
    height: 100px;
  }
  .content{
    align-items: center;
    justify-content: center ;
    
  }
.content .info-btn1 {
    color: #fff;
    background: orange;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 40px;
    border-radius: 5px;
    border-color: orange;

}
.content .info-btn2 {
    color: #fff;
    background: orange;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 40px;
    border-radius: 5px;
    margin:10px 40px;
    border-color: orange;
    
}

.content .info-btn1:hover {
    background: red;
}
.content .info-btn2:hover {
    background: red;
}




.text-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
p{
    
        white-space: nowrap;
        font-size: 24px; 
      
            align-self: center;
           
}

