.auth-wrapper {
    display: flex;
    flex-basis: 100%;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background: url('fondf.png');
    background-size: cover;
    align-items: center;
    justify-content: left ;
    overflow: hidden; 
  }

  .auth-inner {
    width: 100%;
    position: relative;
    max-width: 400px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

  
  }
.card{
align-self: left;
    width: 400px;
   margin-left: 180px;


}

.form-signup{
margin:0 auto;
max-width: 400px;
position: center;
background-color: white;
padding:15px;

}


.form-signup h2{
    text-align:center;

}
.form-signup p{
    text-align:center;
}

.form-group label{
    padding-top: 10px;
}
.button1 {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color:white;
  padding:15px;
  text-align: center;
  border: none;
  font-size: 16px;
  margin:4px 2px;
  border-radius: 1rem;
  display: inline-block;
  text-decoration: none;
}