.auth-wrapper {
    display: flex;
    flex-basis: 100%;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background: url('fond11.png');
    background-size: cover;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
  }

  .auth-inner {
    width: 100%;
    position: relative;
    max-width: 400px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

  
  }
.card{
align-self: center;
    width: 400px;



}

.m{
    margin-bottom: 20px !important ;
}
.form-signup{
margin:0 auto;
max-width: 400px;
position: center;
background-color: white;
padding:15px;

}


.form-signup h2{
    text-align:center;

}
.form-signup p{
    text-align:center;

}
